.header-search-box {
  text-align: center;
  width: 35%;
}

.card-style {
  border: 1px solid #000000;
  margin: 20px;
  text-align: center;
}

.Btn-Remove{
  width: 10%;
  background: #ff0000;
  color: #fff;
  font-Weight: 700;
}

.Btn-Add{
  width: 10%;
  margin-Right: 2.5%;
  background: #008000;
  color: #fff;
  font-Weight: 700;
}